* @ytec-commits

/.github/ @ytec-commits
/LICENSE @ytec-commits
/NOTICE @ytec-commits
/SECURITY.md @ytec-commits
/THIRD-PARTY-NOTICES.txt @ytec-commits
/SBOM.spdx.json @ytec-commits
/third_party/ @ytec-commits
/licenses/ @ytec-commits
